body {
  background-color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: white;
  background-color: steelblue;
  margin: 0;
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}
#nav {
  background-color: white;
  color: black;
  text-align: center;
}
#squaremap {
  width: 500px;
  margin: 20px auto;
}
.square {
  background-color: lightblue;
  width: 30%;
  float: left;
  padding-bottom: 30%;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.5s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}
.none {
  background-color: black;
}
.selected {
  background-color: steelblue;
  color: white;
}
#selectedColor {
  font-size: 150%;
}
button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  color: steelblue;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: inherit;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  outline: none;
}
#message {
  display: inline-block;
  width: 20%;
}
button:hover {
  color: white;
  background-color: steelblue;
}
button:focus {
  outline: 0;
}
